.main-bg {
  background-image: url("/Assets/img/endless-constellation.svg");
  background-size: cover;
  background-position: center center;
  color: var(--primary-color-font);
}

.white-bg {
  background: var(--primary-color-font);
  color: var(--primary-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem var(--gap);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 65px;
}
